
body {
  background-color:darkseagreen;
}

#board {
  width: 1518px;
  height: 650px;
  border: 2px solid white;
  background-color:lightpink;
  top: 82px;
  position: relative;
}

#ball {
  background-color:white;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  position: absolute;
  left: 709px;
  top: 316px;
}

#paddle1 {
  background-color:white;
  width: 60px;
  height: 300px;
  border-radius: 25px;
  position: absolute;
  left: 15px;
  top: 180px;
}

#paddle2 {
  background-color:white;
  width: 60px;
  height: 300px;
  border-radius: 25px;
  position: absolute;
  left: 1443px;
  top: 180px;
}

#score1 {
  background-color:lightpink;
  border: 2px solid white;
  width: 90px;
  height: 60px;
  border-radius: 5px;
  position: absolute;
  left: 30px;
  top: 10px;
}

#score2 {
  background-color:lightpink;
  border: 2px solid white;
  width: 90px;
  height: 60px;
  border-radius: 5px;
  position: absolute;
  left: 1402px;
  top: 10px;
}

.points {
  color:white;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  position: relative;
  top: -35px;
}

#endMessage {
  color:white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  position:absolute;
  left: 365px;
  top: -20px;
}